<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Productos</h1>
    <ul>
        {% for producto in productos %}
        <li>
            <h2>{{ producto.nombre }}</h2>
            <p>Categoría: {{ producto.categoria }}</p>
            <p>Precio: ${{ producto.precio }}</p>
            <p>Stock: {{ producto.stock }}</p>
        </li>
        {% endfor %}
    </ul>
</body>
</html>